UnaCloudPaaSBack/xml-resources/web-service-references/UnaCloudWS/wsdl/unacloud.uniandes.edu.co/UnaCloudWSService/UnaCloudWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wss.losandes.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wss.losandes.com/" name="UnaCloudWSService">
<wsp1_2:Policy wsu:Id="UnaCloudWSPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://wss.losandes.com/" schemaLocation="http://unacloud.uniandes.edu.co:80/UnaCloudWSService/UnaCloudWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAvailableUnaCloudResources">
<part name="parameters" element="tns:getAvailableUnaCloudResources"/>
</message>
<message name="getAvailableUnaCloudResourcesResponse">
<part name="parameters" element="tns:getAvailableUnaCloudResourcesResponse"/>
</message>
<message name="getAvailableVirtualMachines">
<part name="parameters" element="tns:getAvailableVirtualMachines"/>
</message>
<message name="getAvailableVirtualMachinesResponse">
<part name="parameters" element="tns:getAvailableVirtualMachinesResponse"/>
</message>
<message name="getVirtualMachineExecutions">
<part name="parameters" element="tns:getVirtualMachineExecutions"/>
</message>
<message name="getVirtualMachineExecutionsResponse">
<part name="parameters" element="tns:getVirtualMachineExecutionsResponse"/>
</message>
<message name="turnOffVirtualMachine">
<part name="parameters" element="tns:turnOffVirtualMachine"/>
</message>
<message name="turnOffVirtualMachineResponse">
<part name="parameters" element="tns:turnOffVirtualMachineResponse"/>
</message>
<message name="turnOnVirtualCluster">
<part name="parameters" element="tns:turnOnVirtualCluster"/>
</message>
<message name="turnOnVirtualClusterResponse">
<part name="parameters" element="tns:turnOnVirtualClusterResponse"/>
</message>
<message name="writeFileOnVirtualMachine">
<part name="parameters" element="tns:writeFileOnVirtualMachine"/>
</message>
<message name="writeFileOnVirtualMachineResponse">
<part name="parameters" element="tns:writeFileOnVirtualMachineResponse"/>
</message>
<message name="getTemplateLists">
<part name="parameters" element="tns:getTemplateLists"/>
</message>
<message name="getTemplateListsResponse">
<part name="parameters" element="tns:getTemplateListsResponse"/>
</message>
<message name="getTotalUnaCloudResources">
<part name="parameters" element="tns:getTotalUnaCloudResources"/>
</message>
<message name="getTotalUnaCloudResourcesResponse">
<part name="parameters" element="tns:getTotalUnaCloudResourcesResponse"/>
</message>
<message name="getBusyUnaCloudResources">
<part name="parameters" element="tns:getBusyUnaCloudResources"/>
</message>
<message name="getBusyUnaCloudResourcesResponse">
<part name="parameters" element="tns:getBusyUnaCloudResourcesResponse"/>
</message>
<message name="getTotalVirtualMachines">
<part name="parameters" element="tns:getTotalVirtualMachines"/>
</message>
<message name="getTotalVirtualMachinesResponse">
<part name="parameters" element="tns:getTotalVirtualMachinesResponse"/>
</message>
<portType name="UnaCloudWS">
<operation name="getAvailableUnaCloudResources">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getAvailableUnaCloudResourcesRequest" message="tns:getAvailableUnaCloudResources"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getAvailableUnaCloudResourcesResponse" message="tns:getAvailableUnaCloudResourcesResponse"/>
</operation>
<operation name="getAvailableVirtualMachines">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getAvailableVirtualMachinesRequest" message="tns:getAvailableVirtualMachines"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getAvailableVirtualMachinesResponse" message="tns:getAvailableVirtualMachinesResponse"/>
</operation>
<operation name="getVirtualMachineExecutions">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getVirtualMachineExecutionsRequest" message="tns:getVirtualMachineExecutions"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getVirtualMachineExecutionsResponse" message="tns:getVirtualMachineExecutionsResponse"/>
</operation>
<operation name="turnOffVirtualMachine">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/turnOffVirtualMachineRequest" message="tns:turnOffVirtualMachine"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/turnOffVirtualMachineResponse" message="tns:turnOffVirtualMachineResponse"/>
</operation>
<operation name="turnOnVirtualCluster">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/turnOnVirtualClusterRequest" message="tns:turnOnVirtualCluster"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/turnOnVirtualClusterResponse" message="tns:turnOnVirtualClusterResponse"/>
</operation>
<operation name="writeFileOnVirtualMachine">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/writeFileOnVirtualMachineRequest" message="tns:writeFileOnVirtualMachine"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/writeFileOnVirtualMachineResponse" message="tns:writeFileOnVirtualMachineResponse"/>
</operation>
<operation name="getTemplateLists">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getTemplateListsRequest" message="tns:getTemplateLists"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getTemplateListsResponse" message="tns:getTemplateListsResponse"/>
</operation>
<operation name="getTotalUnaCloudResources">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getTotalUnaCloudResourcesRequest" message="tns:getTotalUnaCloudResources"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getTotalUnaCloudResourcesResponse" message="tns:getTotalUnaCloudResourcesResponse"/>
</operation>
<operation name="getBusyUnaCloudResources">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getBusyUnaCloudResourcesRequest" message="tns:getBusyUnaCloudResources"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getBusyUnaCloudResourcesResponse" message="tns:getBusyUnaCloudResourcesResponse"/>
</operation>
<operation name="getTotalVirtualMachines">
<input wsam:Action="http://wss.losandes.com/UnaCloudWS/getTotalVirtualMachinesRequest" message="tns:getTotalVirtualMachines"/>
<output wsam:Action="http://wss.losandes.com/UnaCloudWS/getTotalVirtualMachinesResponse" message="tns:getTotalVirtualMachinesResponse"/>
</operation>
</portType>
<binding name="UnaCloudWSPortBinding" type="tns:UnaCloudWS">
<wsp1_2:PolicyReference URI="#UnaCloudWSPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAvailableUnaCloudResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableVirtualMachines">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVirtualMachineExecutions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="turnOffVirtualMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="turnOnVirtualCluster">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="writeFileOnVirtualMachine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTemplateLists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalUnaCloudResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusyUnaCloudResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalVirtualMachines">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UnaCloudWSService">
<port name="UnaCloudWSPort" binding="tns:UnaCloudWSPortBinding">
<soap:address location="http://unacloud.uniandes.edu.co:80/UnaCloudWSService/UnaCloudWS"/>
</port>
</service>
</definitions>